/*******************/
/******Nav-Bar******/
/*******************/
nav {
  background-color: #ecd9c6;
}
a{
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 35px;
  font-family: 'Viaoda Libre';
  color: #669999;
}
a:hover {
  text-decoration: none;
  font-style: italic;
  color: #669999;
}


/* #392613  brown */
/* #669999 blue turqoise */
/* #808080 grey */
/* #ffe6e6 pinkish */
/* white and black */

/* <nav class="navbar navbar-expand-sm navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="collapsibleNavbar">
    <img src="../images/westbrook001.png">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a ui-sref="home">Home</a>
      </li>
      <li class="nav-item">
        <a ui-sref="passed_work">Passed Work</a>
      </li>
      <li class="nav-item">
        <a ui-sref="about">About Us</a>
      </li>
      <li class="nav-item">
        <a ui-sref="contact">Contact Us</a>
      </li>
    </ul>
  </div>
  </nav> */
/*
font-family: 'Great Vibes', cursive;
font-family: 'Viaoda Libre', cursive;
font-family: 'Dancing Script', cursive;
/*******************/
/*****Home page*****/
/*******************/

.container {
  max-width: 1040px;
  margin: 0 auto;
}
section.section:last-child {
  margin-bottom: 0;
}
section.section h1 {
  margin-bottom: 40px;
  font-family: 'Viaoda Libre', cursive;
  font-size: 75px;
  padding-top: 5%;
  color: Black;
  text-align: center;
}
section.section h2 {
  margin-bottom: 40px;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  padding-top: 1%;
  color: Black;
  text-align: center;
}
section:nth-child(3).section h2{
  padding-top: 20%;
  font-size: 35px;
  color: White;
  text-align: center;
}
section:nth-child(5).section h2{
  padding-top: 30%;
  font-size: 70px;
  color: White;
  text-align: center;
}
section.section p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Dancing Script', cursive;
}
section.section p:last-child {
  margin-bottom: 0;
}
section.section.content-1 {
  padding: 100px 0px;
}

section.section.content {
  background-color: #ecd9c6;
}

section.section.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

section.section.parallax-1 {
  background-image: url("/images/weddings/background-1.jpg");
  opacity: 0.9;
}
section.section.parallax-2 {
  background-image: url("/images/baby-showers/background-2.jpg");
}
section.section.parallax-3 {
  background-image: url("/images/3.jpg");
}
@media all and (min-width: 600px) {
  section.section.parallax h1 {
    font-size: 96px;
  }
  section.section h2 {
    font-size: 42px;
  }
  section.section p {
    font-size: 25px;
  }
}
@media all and (min-width: 960px) {
  section.section.parallax h1 {
    font-size: 120px;
  }
  section.section h2 {
    font-size: 60px;
  }
  section.section p {
    font-size: 35px;
  }
}


/***************************************/
/**************CAROUSEL*****************/
/***************************************/
.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.carousel-wrapper * {
  box-sizing: border-box;
}
.carousel{
  transform-style: preserve-3d;
}
.carousel__photo{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin:auto;
  z-index: 100;
  transition: transform 1.5s, opacity 1.5s, x-index 1.5s;
}
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(100%);
  /* transform: translateY(100%);
  transform: translateX(100%) rotate(360deg); /* Move 'prev' item to the left*/
}
.carousel__photo.next {
  transform: translateX(-100%);
  /* transform: translateY(-100%);
  transform: translateX(-100%) rotate(-360deg); /* Move 'next' item to the right*/
}
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel__button--prev {
  left:2%;
}
.carousel__button--next {
  right:2%;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
img.col-sm {
  height: 100%;
  padding: 0px;
  position: ;
}
.image-wrapper {
  margin: 0px;
  padding: 0px;
  width: 33.3%;
}

/****************************************/
/***********EXPERIENCE PAGE**************/
/****************************************/


/****************************************/
/*************ABOUT PAGE*****************/
/****************************************/

section.section.content.about {
  border-bottom: 5px solid #392613;
  padding-bottom: 150px;
  padding-top: 150px;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
section.section.content.about img {
  border-radius: 25%;
  float: left;
  padding: 25px;
}

/****************************************/
/*************CONTACT PAGE***************/
/****************************************/
section>div.containerContact{
  margin-left: 70px;
}
section.section.contact{
  padding-bottom: 50px;
}
/****************************************/
/**************HOME PAGE*****************/
/****************************************/
div>img.home {
  border-radius: 10%;
  position: relative;
  margin-top: -24px;
  height: 200px;
  width: auto;
  left: 36%;
}

div.home{
  height: 100%;
  width: 100%;
}
div.home h1{
  position: absolute;
  margin-top: 15%;
  color: Black;
  font-size: 3em;
  font-family:'Raleway', cursive;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, .5), rgba(153, 235, 255, 1) 30%, 80%, rgba(255, 255, 255, .5) 100%);
}

/***************************************/
/****************FOOTER*****************/
/***************************************/
section.section.content.footer {
  background-color: #392613;
  color: white;
  padding-top: 15px;
  border-top: 10px #c68c53 inset;
}
section>div>div.col-sm {

  padding-left: 80px;
  font-family: 'Viaoda Libre';
}
section>div.footer>div>ul {
  list-style-type: none;
}
