<section class="section content about">
  <div class="container">
  <h2 class="fancy"><span>Our Story</span></h2>
  <p>At WestBrook Weddings and Events, we believe in creating unique moments that leave a lasting impression. We really listen to our clients, creating distinctive events tailored to their specific needs and desires. Our innovative mix of solutions ensures that every detail is covered. Get in touch to learn how we can make your dream event a reality.</p>
  </div>
</section>
<section class="section content about">
  <div class="container">
  <h2>Owner/Event Planner & Coordinator </br> Paige Westbrook</h2>
  <p><img src="../images/westbrook/owner.jpg" alt="">There is something absolutely amazing in helping someone realize that their dream day can actually be a reality. Whether it is walking with them step-by-step through every detail, giving them direction when they feel overwhelmed, or simply planning the perfect fairytale that they just show up for and star in, being a wedding and event planner is the best job ever! Give us a call so we can start planning together.
I am married to my HERO and best friend, Issac who is a Drill Sgt. in the US Army and works as a Conductor for the Railroad. Together we are raising five beautiful children (4 boys, 1 girl) with an age span of 16 years. I have always loved a good party and being able to see every detail come to life. I have been planning events from Baby Showers, Birthdays, Anniversary Parties, and of course Weddings and Receptions since my kids were born but decided to get serious about it over the past five years. I am a crafty and detail-oriented person by nature. I love checklists and making things with my hands. My husband and I are an amazing team. If I can dream it up, he can build it in our wood shop. We are excited to help others experience their dreams in whatever events arise.</p>
  </div>
</section>
<section class="section content footer">
  <div class="footer row">
    <div class="col-sm">
      <h3>Services we offer</h3>
      <ul>
          <li>Birthdays</li>
          <li>Anniversaries</li>
          <li>Graduation</li>
          <li>Engagement</li>
          <li>Wedding/Reception</li>
          <li>Baby Shower</li>
          <li>Gender Reveal</li>
          <li>Retirement</li>
          <li>Celebration of Life</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>Hours</h3>
      <ul>
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>Contact Us</h3>
      <ul>
        <li>Address</li>
        <li>Phone</li>
        <li>Email</li>
      </ul>
    </div>

  </div>
</section>
