<section class="section content">
  <div class="container">
    <img class="home" src="../images/westbrook001.png">
    <h1>WestBrook Weddings and Events</h1>
    <h2>Making memories that las a lifetime.</h2>
    <p>Based in Snowflake Arizona, WestBrook Weddings and Events designs and executes events personalized to each client. Our comprehensive services, insight and dedication are sure to make every occasion memorable and truly special. </p>
  </div>
  </div>
</section>
<section class="section parallax parallax-1">
  <div class="container">
  </div>
</section>
<section class="section content">
  <div class="container">
    <h2>“The computer programmer is a creator of universes for which he alone
       is the lawgiver. No playwright, no stage director, no emperor, however
        powerful, has ever exercised such absolute authority to arrange a stage
        or field of battle and to command such unswervingly dutiful actors or troops.”
    </h2>
  </div>
</section>
<section class="section parallax parallax-2">
  <div class="container">
    <h2></h2>
    <ul>
      <li>MEAN Stack</li>
      <li>LAMP Stack</li>
      <li>Npm, webpack, Git</li>
    </ul>
  </div>
</section>
  <div class="carousel-wrapper">
    <div class="carousel">
      <img ngModel="Hcontroller.slide" class="carousel__photo initial" src="/images/img_1.jpg">
      <img ngModel="Hcontroller.slide" class="carousel__photo" src="/images/img_2.jpg">
      <img ngModel="Hcontroller.slide" class="carousel__photo" src="/images/img_3.jpg">
      <img ngModel="Hcontroller.slide" class="carousel__photo" src="/images/img_4.jpg">
      <img ngModel="Hcontroller.slide" class="carousel__photo" src="/images/img_5.jpg">

      <div class="carousel__button--next" ng-click="Hcontroller.nextSlide()"></div>
      <div class="carousel__button--prev" ng-click="Hcontroller.movePrev()"></div>
    </div>
  </div>
<section class="section parallax parallax-3">
  <div class="container">
    <h2>Come visit sometime!</h2>
    <p>Arizona, the beautiful sonoran desert. Great night life, and many day activies. The fastest growing county in the USA.</p>
  </div>
</section>
<section class="section content">
  <div class="container">
    <h2>Beautiful Arizona</h2>
  </div>
</section>
