<section class="section content content-1">
  <div class="container">
    <img class="home" src="../icons/westbrookicon.png">
    <h1>WestBrook Weddings and Events</h1>
    <h2>Making memories that las a lifetime.</h2>
    <p>Based in Snowflake Arizona, WestBrook Weddings and Events designs and executes events personalized to each client. Our comprehensive services, insight and dedication are sure to make every occasion memorable and truly special. </p>
  </div>
  </div>
</section>
<section class="section parallax parallax-1">
  <div class="container">
  </div>
</section>
<section class="section content content-1">
  <div class="container">

  </div>
</section>
<section class="section parallax parallax-2">
  <div class="container">

  </div>
</section>
  <div class="carousel-wrapper">
    <div class="carousel">
      <div ngModel="Hcontroller.slide" class="carousel__photo initial row">
        <div class="image-wrapper">
          <img class="col-sm" src="/images/birthdays/FB_IMG_1549397130271.jpg">
        </div>
        <div class="image-wrapper">
          <img class="col-sm" src="/images/birthdays/FB_IMG_1549397143863.jpg">
        </div>
        <div class="image-wrapper">
          <img class="col-sm" src="/images/birthdays/FB_IMG_1549397164840.jpg">
        </div>
      </div>
      <img ngModel="Hcontroller.slide" class="carousel__photo" src="/images/img_2.jpg">
      <img ngModel="Hcontroller.slide" class="carousel__photo" src="/images/img_3.jpg">
      <img ngModel="Hcontroller.slide" class="carousel__photo" src="/images/img_4.jpg">
      <img ngModel="Hcontroller.slide" class="carousel__photo" src="/images/img_5.jpg">

      <div class="carousel__button--next" ng-click="Hcontroller.nextSlide()"></div>
      <div class="carousel__button--prev" ng-click="Hcontroller.movePrev()"></div>
    </div>
  </div>
<section class="section parallax parallax-3">
  <div class="container">
    <h2>Come visit sometime!</h2>
  </div>
</section>
<section class="section content footer">
  <div class="footer row">
    <div class="col-sm">
      <h3>Services we offer</h3>
      <ul>
          <li>Birthdays</li>
          <li>Anniversaries</li>
          <li>Graduation</li>
          <li>Engagement</li>
          <li>Wedding/Reception</li>
          <li>Baby Shower</li>
          <li>Gender Reveal</li>
          <li>Retirement</li>
          <li>Celebration of Life</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>Hours</h3>
      <ul>
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>Contact Us</h3>
      <ul>
        <li>Address</li>
        <li>Phone</li>
        <li>Email</li>
      </ul>
    </div>

  </div>
</section>
